body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: Lavender;
    border-radius: 50px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 4px solid Lavender;
    display: block;
    margin: auto;
}

.assignment img:hover {
border: 4px solid Indigo;
}

h1 {
    color: MediumAquaMarine;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: HotPink;
}
a:hover {
    color: Indigo;
}